@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 767px) {
  :root {
    --padding-layout: 0rem 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --padding-layout: 0rem 4rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  :root {
    --padding-layout: 0rem 8rem;
  }
}

@media screen and (min-width: 1280px) {
  :root {
    --padding-layout: 0rem 12rem;
  }
}

.layout {
  padding: var(--padding-layout);
  padding-top: 4rem;
}

.modal {
  @apply fixed z-[999] inset-0 w-full h-[100vh] flex justify-center items-center bg-background-dark/80;
}

.modal-content {
  @apply relative z-[1000] w-fit bg-background-light dark:bg-background-dark rounded-lg p-6;
}

@layer utilities {
  *::selection {
    @apply bg-text-light text-background-light dark:bg-text-dark dark:text-background-dark;
  }

  body {
    @apply relative bg-background-light text-text-light dark:bg-background-dark dark:text-text-dark min-h-[100vh];
  }

  * {
    @apply text-sm sm:text-base;
  }

  nav.navbar {
    @apply px-6 py-3 flex justify-between items-center top-0 fixed w-full z-50 backdrop-blur bg-background-light/50 dark:bg-background-dark/50;
  }

  .text-balance {
    text-wrap: balance;
  }

  .input-label {
    @apply absolute inset-0 pointer-events-none translate-x-2 translate-y-1 transition-all duration-200 ease-in-out w-fit h-fit text-primary-light dark:text-primary-dark;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition:
      background-color 600000s 0s,
      color 600000s 0s;
  }
  input[data-autocompleted] {
    background-color: transparent !important;
  }

  input.input {
    @apply w-full text-text-light dark:text-text-dark py-1 px-2 bg-background-light dark:bg-background-dark outline-none border border-primary-light/50 dark:border-primary-dark/50 rounded-md transition-all duration-200 ease-in-out;
  }

  input.input:not(:placeholder-shown) ~ .input-label,
  input.input:focus ~ .input-label {
    @apply -translate-y-3 text-xs bg-background-light dark:bg-background-dark px-1;
  }

  input.input:not(:placeholder-shown),
  input.input:focus {
    @apply border-primary-light dark:border-primary-dark;
  }
}
